.fourthSection{
  width: 100vw;
  height: 25rem;
  padding: 1.5rem;
  color: white;
}

.fourthSection h1{
  font-size: 25pt;
}

.comentarios{
  width: 97%;
  height: 15rem;
  background-color: #4141FA;
  border-radius: 5px;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.comentarioItem{
  display: flex;
  justify-content: center;
  width: 35%;
  height: 7rem;
  margin-right: 1rem;
}
.comentarioItem img{
  border-radius: 100px;
  width:7rem;
  height: 7rem;
  margin-left: 0.5rem;
}
.clienteInfos{
  margin-left: 0.5rem;
}
.clienteInfos h1{
  font-size: 15pt;
  margin-top: 0.5rem;
}

.clienteInfos p{
  font-size: 9pt;
  height: 5rem;
}