.fifthSection{
  background-color: #FBFBFB;
  width: 100vw;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  color: black;
}

.fifthSection h1{
  font-size: 30pt;
}

.perguntas{
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.perguntaItem{
  width: 35rem;
  min-height: 4rem;
  outline: 3px solid #4141FA;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.perguntaItem h1{
  font-size: 13pt;
  font-weight: 400;
  background-color: #4141FA;
  height: 4rem;
  padding-left: 20px;
  padding-top: 20px
}

.perguntaItem p{
  padding: 10px;
  color: #4141FA;
}