.thridSection{
  background-color: #FBFBFB;
  width: 100vw;
  height: 40rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.simTitle h1{
  font-size: 36pt;
  margin-top: 1rem;
}

.simBtns{
  margin-top: 2rem;
}

.simBtns input[type=button]{
  background-color: transparent;
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #171717;
  margin-left: 0.2rem;
  cursor: pointer;
}

#active{
  border: 2px solid #4141FA;
}

.simBlocks{
  width: 95%;
  height: 90%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.simItemBlock{
  width: 20rem;
  height: 25rem;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.simItemBlock img{
  width: 9rem;
}

.simItemBlock h3{
width: 100%;
margin-top: 1rem;
padding-left: 1.5rem;
}

.selectDiv {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.selectDiv select{
  border-radius: 10px;
  height: 2rem;
  width: 7rem;
  border: 2px solid #171717;
}

.aboutBoost p{
  width: 20rem;
  height: 10rem;
  font-size: 15pt;
  font-weight: 500;
}


.simResult{
  width: 30rem;
  height: 15rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
}

.simResult h1{
  font-size: 40pt;
  color: #4CFF5E;
  text-shadow: 0px 0px 25px #69ff78a2;
}

.simResult p{
  font-size: 7pt;
  font-weight: 400;
  color: #454545;
}

.simResult button{
  border: none;
  margin-top: 1rem;
  background: linear-gradient(to left, #4CFF5E, #2AC0AE);
  box-shadow: 0px 0px 15px #46f36e71;
  width: 6rem;
  height: 3rem;
  border-radius: 20px;
}

.simResult img{
  width: 1.5rem;
}